@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* remove default style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.icon {
  width: 13%;
  height: 13%;
  border: 2px solid #e4e70a;
  border-radius: 50%;
  padding: 1px;
}
/* header */

header {
  background-color: #0c6404;
  width: 100%;
  position: fixed;
  z-index: 13;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: #ffffff;
}
#menu {
  font-size: 110%;
  letter-spacing: 3px;
  list-style-type: none;
}
#menu > li {
  margin-bottom: 1em;
}
#logo {
  color: #add8e6;
  font-family: "Great Vibes", cursive;
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: 3px;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
  margin-bottom: 0;
}
#logo-container img {
  display: inline-block;
  vertical-align: middle;
}
/* nav */
nav {
  position: absolute;
  background-color: #0c6404;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  font-family: "Unna", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  display: none;
  top: 100%;
}
#nav-toggle {
  display: none;
}

#nav-toggle:checked ~ nav {
  display: block;
}

/* main content */

main {
  flex: 1 0 auto;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1e2a1e;
  padding: 2rem 0;
}
/*banner*/
.banner-container {
  color: #ffffff;
  background-image: url(../images/joshua-tsu-ifHBo0TTuBI-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c6dfc4;
  padding: 0 0.5rem;
  height: 25rem;
  width: 100%;
  padding-top: 5rem;
  text-align: center;
}
.banner-container h1 {
  font-size: 3.4rem;
  font-family: Open Sans "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 0px rgb(169, 214, 7), 3px 3px 0px rgb(54, 50, 50);
}
.banner-container p {
  font-family: Unna serif;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 6px;
  color: #e6d815;
  text-shadow: 1px 1px 0px black;
}
.banner-container span {
  color: #02394b;
  font-family: "Great Vibes", cursive;
  font-weight: bold;
  font-style: normal;
  font-size: 1.2rem;
  text-shadow: none;
}
.banner-container div {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  height: 10rem;
  border-radius: 5px;
  margin: auto;
  white-space: no-wrap;
}
.banner-container button {
  height: 40px;
  width: 150px;
  color: #a6eb31;
  background-color: #084702;
  border: none;
  border-radius: 5%;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: Roboto, sans-serif Oxygen, Ubuntu, Cantarell, "Open Sans",
    sans-serif, serif;
  text-transform: uppercase;
  font-weight: bold;
}

/* holidays */

#holidays-container {
  background-color: #f6fcf5;
  color: #01200a;
  font-family: "Roboto", sans-serif;
  padding: 1rem;
}
.holiday-image img {
  height: 15rem;
  width: 20.5rem;
}
.rating img {
  height: 1em;
  width: 1em;
}
#holidays-container h2 {
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.5rem 0rem;
  margin: auto;
  color: #213301;
}
#holidays-container > p {
  padding: 1rem;
  line-height: 35px;
  font-size: 1.3rem;
}
#holidays-container h3 {
  color: #3a3a3a;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1.5rem;
}
.holiday {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  gap: 3rem;
}
.holiday-box {
  border: 1px solid palegoldenrod;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: baseline;
  background-color: #ffffff;
  height: 30rem;
  width: 20.5rem;
  gap: 3px;
  box-shadow: 5px 5px 5px lightgrey;
}
.img-caption,
.rating,
.holiday-cost,
.holiday-box span {
  padding: 0.9rem;
  font-size: 1.2rem;
}
.holiday span {
  color: #0880a8;
  font-style: italic;
  padding: 1rem 0;
  line-height: 3px;
}
.rating img {
  background-color: #000000;
  border-radius: 3px;
}
.holiday-cost {
  font-weight: bolder;
  font-size: 1.5rem;
  color: #000000;
}
/* reasons containter */
#reasons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  padding: 1rem;
  color: #ffffff;
  margin-top: 3rem;

  font-size: 1.3rem;
  font-family: "Playfair", serif;
}
.reasons-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 16px;
}
.reasons-box img {
  height: 3rem;
  width: 3rem;
  background-color: white;

  border-radius: 50%;
  padding: 0.5rem;
}

.reasons {
  height: 15rem;
  width: 100%;
  margin-left: 1.5rem;
}
.reasons h4 {
  color: #ffe34d;
  margin-bottom: 1rem;
}
#reasons-container h3 {
  color: #c3dec3;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

/* hotels */

#hotels-container {
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  padding: 2rem;
  background-color: #d3d3d3;
}
.hotels-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
#hotels-container h3 {
  font-size: 2.5rem;
  font-weight: bolder;
  font-style: normal;
  text-align: center;
}
.hotels img {
  height: 20rem;
  width: 20rem;
  margin-top: 1rem;
}

/* contacts */

#address-container {
  
  color: white;
  font-family: "Merriweather", serif;
  font-size: 1rem;
  background-image: url(../images/fabian-moller-gI7zgb80QWY-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
  
.address{
  padding:2rem 2rem ;
  line-height: 2rem;
  letter-spacing: 3px;
  text-align: right;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}


.address h4{
text-align: center;
color: #fff8dc;

}
.address span{
  text-align: left;
  font-style: italic;
  
}
.times{
  align-self: center;
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 1rem;
  
}
.address table{
  align-self: center;
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  }
.address td{
  text-align: left;
  padding: 1.2rem;
  border-bottom: 1px solid#ffe34d;
  font-size: 1.2rem;

}
.address th{
  text-align: left;
  color: #76d4f3;
  font-weight: bold;
  padding: 1.2rem;
  font-size: larger;
}
/* contact container */
#contact-container{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  gap: 5rem;
}

.contact img{
  height:1.5rem ;
  width:1.5rem ;
}
.social-media img{
  height:2.5rem ;
  width:2.5rem ;
}
.call,.email{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

/* footer */

footer {
  background-color: darkgreen;
}

/* media query for tablets*/

@media screen and (min-width: 768px) {
  /* header */
  header {
    height: 70px;
  }
  nav {
    display: block;
    box-shadow: none;
    text-align: center;
    margin: auto;
  }
  #menu {
    position: relative;
    display: flex;
    font-size: 1.6rem;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    padding-left: 1rem;
  }
  #menu li {
    margin-left: 1rem;
  }
  #menu span {
    position: absolute;
    top: -4rem;
    right: 0.2rem;
    font-size: 1.3rem;
    width: 25%;
    margin: auto;
    padding: 0.2rem;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    text-align: center;
  }
  #menu span a:hover {
    letter-spacing: normal;
    border-bottom: none;
    font-size: 1.3rem;
  }
  #nav-toggle-label {
    display: none;
    border-bottom: 0;
  }

  /* banner */

  .banner-container div {
    height: 15rem;
    width: fit-content;
    padding-top: 3rem;
  }
  .banner-container {
    height: 30rem;
  }

  .banner-container p {
    font-size: 2rem;
  }
  .banner-container h1 {
    font-size: 4.5rem;
  }
  .banner-container span {
    font-size: 1.7rem;
  }

  main {
    margin-top: 75px;
  }
  /* reasons */
  .reasons {
    height: 10rem;
    width: 100%;
  }
  #reasons-container {
    flex-direction: row;
    padding: 0 10rem;
  }
}

/* media query for larger screens laptops and larger */

@media screen and (min-width: 992px) {
  /* header */

  #menu > li {
    margin-left: 3rem;
    font-size: 1.7rem;
    text-align: center;
    margin: auto;
    padding: 1.5rem;
  }
  #menu a:hover {
    color: #76d4f3;
    letter-spacing: 5px;
    border-bottom: 2px solid #c6dfc4;
  }
  #menu span {
    position: absolute;
    top: -4rem;
    right: 0.2rem;
    font-size: 1.3rem;
    width: 20%;
    margin: auto;
    padding: 0.2rem;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    text-align: center;
  }
  #menu span a:hover {
    letter-spacing: normal;
    border-bottom: none;
    font-size: 1.3rem;
  }
  /* banner */
  .banner-container {
    height: 60rem;
    outline: auto;
    padding-top: 15rem;
  }
  .banner-container div {
    height: 20rem;
    width: fit-content;
    padding-top: 4rem;
    margin-top: 2rem;
  }
  .banner-container h1 {
    font-size: 7rem;
  }
  .banner-container span {
    font-size: 2rem;
  }
  .banner-container button {
    width: 200px;
  }
  /* holidays */
  #holidays-container > p {
    padding: 1rem 10rem;
  }
  /* reasons */
  #reasons-container {
    padding: 0 20rem;
  }
  /* adress */
  .address{
    padding: 5rem 15rem;
  }
}
