@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* remove default style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* html */
html{scroll-behavior: smooth;}

/* body */

body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

.icon {
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid #e4e70a;
  border-radius: 50%;
  padding: 1px;
}
/* header */

header {
  background-color: #0c6404;
  width: 100%;
  position: fixed;
  z-index: 13;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: #ffffff;
}
#menu {
  font-size: 110%;
  letter-spacing: 3px;
  list-style-type: none;
}
#menu > li {
  margin-bottom: 1em;
}
#logo {
  color: #add8e6;
  font-family: "Great Vibes", cursive;
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: 3px;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
  margin-bottom: 0;
}
#logo-container img {
  display: inline-block;
  vertical-align: middle;
}
#logo em{
  color: whitesmoke;
  font-size: 1rem;
  font-family:  "Playfair", serif;
  text-shadow: 0.3px 0.3px 0px rgb(188, 240, 3), 3px 3px 0px rgb(54, 50, 50);

}
/* nav */
nav {
  position: absolute;
  background-color: #0c6404;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  font-family: "Unna", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  display: none;
  top: 100%;
}
#nav-toggle {
  display: none;
}

#nav-toggle:checked ~ nav {
  display: block;
}

/* main content */

main {
  flex: 1 0 auto;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
}
/*banner*/
.banner-container {
  color: #ffffff;
  background-image: url(../images/joshua-tsu-ifHBo0TTuBI-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c6dfc4;
  padding: 0 0.5rem;
  height: 25rem;
  width: 100%;
  padding-top: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-shrink: 2;
  justify-content: space-around;
  align-items: center;
}
.banner-container h1 {
  font-size: 3.4rem;
  font-family: Open Sans "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 0px rgb(169, 214, 7), 3px 3px 0px rgb(54, 50, 50);
}
.banner-container p {
  font-family: Unna serif;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 6px;
  color: #e6d815;
  text-shadow: 1px 1px 0px black;
}
.banner-container span {
  color: #02394b;
  font-family: "Great Vibes", cursive;
  font-weight: bold;
  font-style: normal;
  font-size: 1.2rem;
  text-shadow: none;
}
.banner-container div {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  height: 10rem;
  border-radius: 5px;
  margin: auto;
  white-space: no-wrap;
}
.banner-container button {
  height: 40px;
  width: 150px;
  color: #a6eb31;
  background-color: #084702;
  border: none;
  border-radius: 5px;
  margin-top:2rem;
  font-size: 1.2rem;
  font-family: Roboto, sans-serif Oxygen, Ubuntu, Cantarell, "Open Sans",
    sans-serif, serif;
  text-transform: uppercase;
}

/* holidays */

#holidays-container {
  background-color: #f6fcf5;
  color: #01200a;
  font-family: "Roboto", sans-serif;
  padding: 1rem;
}
.holiday-image img {
  height: 15rem;
  width: 20.5rem;
}
.rating img {
  height: 1em;
  width: 1em;
}
#holidays-container h2 {
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  padding: 0.5rem 0rem;
  margin: auto;
  color: #3a3a3a;
}
#holidays-container > p {
  padding: 0.5rem;
  line-height: 35px;
  font-size: 1.3rem;
}
#holidays-container h3 {
  color: #3a3a3a;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1.5rem;
}
.holiday {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  gap: 3rem;
}
.holiday-box {
  border: 1px solid palegoldenrod;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: baseline;
  background-color: #ffffff;
  height: 30rem;
  width: 20.5rem;
  gap: 3px;
  box-shadow: 5px 5px 5px lightgrey;
}
.img-caption,
.rating,
.holiday-cost,
.holiday-box span {
  padding: 0.9rem;
  font-size: 1.2rem;
}
.holiday span {
  color: #0880a8;
  font-style: italic;
  padding: 1.5rem 0;
  line-height: 3px;
}
.rating img {
  background-color: #000000;
  border-radius: 3px;
}
.rating a{
  text-decoration: none;
}
.rating p a{
  color:rgb(75, 74, 74) ;
}
.holiday-cost {
  font-weight: bolder;
  font-size: 1.5rem;
  color: #000000;
}
/* reasons containter */
#reasons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1e2a1e;
  padding: 0rem 1.5rem;
  color: #ffffff;
  font-size: 1.3rem;
  font-family: "Playfair", serif;
  

}
.reasons-box {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}
.reasons-box img {
  height: 3rem;
  width: 3rem;
  background-color: white;
  border-radius: 50%;
  padding: 0.5rem;
}
.reasons {
  width: 100%;
  margin-left: 1.5rem;
  padding-bottom: 5rem;
}
.reasons h4 {
  color: #ffe34d;
  margin-bottom: 1rem;
}
#reasons-container h3 {
  color: #c3dec3;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
}

/* hotels */

#hotels-container {
  /* margin-top: 2rem; */
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  padding: 2rem 0;
  background-color: #d3d3d3;
}
.hotels-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
#hotels-container h3 {
  font-size: 2.5rem;
  font-weight: bolder;
  font-style: normal;
  text-align: center;
}
.hotels img {
  height: 20rem;
  width: 20rem;
  margin-top: 1rem;
}

/* contacts */

#address-container {
  color: white;
  font-family: "Merriweather", serif;
  font-size: 1rem;
  background-image: url(../images/fabian-moller-gI7zgb80QWY-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.address {
  padding: 2rem 1rem;
  line-height: 2rem;
  letter-spacing: 3px;
  text-align: right;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.address h4 {
  text-align: center;
  color: #fff8dc;
}
.address span {
  text-align: left;
  font-style: italic;
}
.times {
  align-self: center;
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 1rem;
}
.address table {
  align-self: center;
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
.address td {
  text-align: left;
  padding: 1.2rem;
  border-bottom: 1px solid#ffe34d;
  font-size: 1.2rem;
}
.address th {
  text-align: left;
  color: #76d4f3;
  font-weight: bold;
  padding: 1.2rem;
  font-size: larger;
}
/* contact container */
#contact-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0rem;
  gap: 2px;
  font-family: Open Sans "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0rem;
}
.contact {
  width: 100%;
  padding: 1.5rem;
}
.contact img {
  height: 1.5rem;
  width: 1.5rem;
}
.call,
.email {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.contact a {
  text-decoration: none;
}
.contact p {
  font-style: italic;
}
/* social media */
.social-media img {
  height: 2.5rem;
  width: 2.5rem;
}
.social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  padding: 5rem 1rem;
  text-align: center;
  }
.social-media a {
  text-decoration: none;
  color: #000000;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(63, 68, 63);
  color: #ffffff;
  font-family: unna serif;
  font-size: 1.2rem;
  text-align: center;
  height: fit-content;
  padding:   1rem 0.5rem;
  letter-spacing: 2px;

  
}
footer a{
  text-decoration: none;
  color: #0dc545;
}
footer ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding-bottom: 1rem;
  gap: 1rem;

}
/* reviews */
#reviews-container{
  background-color: #ffffff;
  color: #000000;
  font-family:  "Roboto", sans-serif;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  width: 100%;
  line-height: 1.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5rem;
}
.reviewers p{
font-weight: bold;
padding: 1rem 0;
}
.reviewers span{
  font-weight: lighter;
  color: #818080;
  font-style: italic;
padding-left: 1rem;
}
.reviewers img{
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}
#reviews-container h2{
  text-align: center;
  font-weight: bold;
  color: #89b689;
  padding: 1em;
  font-size: 1.5rem;
}
#reviews-container .rating{
  padding: 0;
}
.
form{
  background-color: #ffffff;
  margin: 3rem;
  text-align: center;
  padding-bottom: 1.5rem;
}
form h2{
  padding: 1rem;
  font-weight: bold;
}
.light-grey{
  color: rgb(75, 74, 74);
  font-style: italic;
}
#sign-up-content{
   background-image: linear-gradient(to right top, #073b09, #06320c, #07280d, #08200c, #041709, #041708, #031608, #031607, #071e09, #092608, #0b2e06, #0e3601);
  font-family: "Merriweather", serif;
  font-size: 1rem; 
}
.sign-up-container input{
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content:center;
  align-items: center;
  padding: 1rem;
  width: 80%;
  margin:1rem;
  border-radius: 4px;
  border: 1px solid rgb(155, 162, 168);
  flex-shrink: inherit;
  }
  input::placeholder{
    font-family: 1.2rem;
    text-align: left;
    font-weight: 700;
    font-family: "Merriweather", serif;
  }
  input[type="submit"]{
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    background-color: #1785df;
    color: #ffffff;
    border-radius: 4px;
    font-family: "Merriweather", serif;
    font-size: 1.2rem;
    letter-spacing: 4px;
    border: 1px solid #1785df;
  }
  .sign-in-link a{
padding-left: 3px;
text-decoration: none;
color: #1785df;
  }
/* media query for tablets*/

@media screen and (min-width: 768px) {
  /* header */
  header {
    height: 70px;
  }
  nav {
    display: block;
    box-shadow: none;
    text-align: center;
    margin: auto;
  }
  #menu {
    position: relative;
    display: flex;
    font-size: 1.6rem;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    padding-left: 1rem;
  }
  #menu li {
    margin-left: 1rem;
  }
  #menu span {
    position: absolute;
    top: -4rem;
    right: 0.2rem;
    font-size: 1.3rem;
    width: 25%;
    margin: auto;
    padding: 0.2rem;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    text-align: center;
  }
  #menu span a:hover {
    letter-spacing: normal;
    border-bottom: none;
    font-size: 1.3rem;
  }
  #nav-toggle-label {
    display: none;
    border-bottom: 0;
  }

  /* banner */

  .banner-container div {
    height: 15rem;
    width: fit-content;
    padding-top: 3rem;
  }
  .banner-container {
    height: 30rem;
  }

  .banner-container p {
    font-size: 2rem;
  }
  .banner-container h1 {
    font-size: 4.5rem;
  }
  .banner-container span {
    font-size: 1.7rem;
  }

  main {
    margin-top: 75px;
  }
  /* reasons */
  .reasons {
    /*height: 10rem;*/
    width: 100%;
  }
  #reasons-container {
    flex-direction: row;
    padding: 0 10rem;
  }
  /* review container */
  #reviews-container{
    padding: 0 8rem;
  }
  #reviews-container h2{
    padding-top: 2rem;
    font-size: 1.7rem;
  }
  .icon{
    height: 5rem;
    width: 5rem;
  }
}

/* media query for larger screens laptops and larger */

@media screen and (min-width: 992px) {
  /* header */

  #menu > li {
    margin-left: 3rem;
    font-size: 1.7rem;
    text-align: center;
    margin: auto;
    padding: 1.5rem;
  }
  #menu a:hover {
    color: #76d4f3;
    letter-spacing: 5px;
    border-bottom: 2px solid #c6dfc4;
  }
  #menu span {
    position: absolute;
    top: -4rem;
    right: 0.2rem;
    font-size: 1.3rem;
    width: 20%;
    margin: auto;
    padding: 0.2rem;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    text-align: center;
  }
  #menu span a:hover {
    letter-spacing: normal;
    border-bottom: none;
    font-size: 1.3rem;
  }
  /* banner */
  .banner-container {
    height: 60rem;
    outline: auto;
    padding-top: 15rem;
  }
  .banner-container div {
    height: 20rem;
    width: fit-content;
    padding-top: 4rem;
    margin-top: 2rem;
  }
  .banner-container h1 {
    font-size: 7rem;
  }
  .banner-container span {
    font-size: 2rem;
  }
  .banner-container button {
    width: 200px;
  }
  /* holidays */
  #holidays-container > p {
    padding: 1rem 10rem;
  }
  /* reasons */
  #reasons-container {
    padding: 0 20rem;
  }
  /* adress */
  .address {
    padding: 5rem 15rem;
  }
  /* contact */
  .contact {
    padding-left: 15rem;
  }
  .contact a:hover {
    color: orangered;
  }
  .social-media a:hover {
    color: #0880a8;
  }
  /* review container */
  #reviews-container{
    padding: 0 20rem;
  }
  #reviews-container h2{
    padding-top: 5rem;
    font-size: 1.7rem;

  }
  .rating p a:hover{
    border-bottom: 2px solid  rgb(75, 74, 74);
  }
  /* icon */
  .icon{
    height: 5rem;
    width: 5rem;
}
}